* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 40%;
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
    height: 200px;
    width: auto; 
    padding-bottom: 100px;
    padding-top: 50px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*----------------------------------------------------------
Tablet
----------------------------------------------------------*/
@media (min-width: 400px) {
   .mySlides img {
        height: 400px;
        width: auto;    
    } 
}

/*----------------------------------------------------------
Desktop
----------------------------------------------------------*/
@media (min-width: 800px) {
    .mySlides img {
        height: 600px;
        width: auto;    
    }
}
