/*---------------------------------------------------------
Header styles minus menu
----------------------------------------------------------*/

/*---------------------------------------------------------
Mobile
---------------------------------------------------------*/

header {
    background-color: black;
    padding-top: 1px;
    height: 150px
}




/*----------------------------------------------------------
Tablets
----------------------------------------------------------*/



    
    
/*----------------------------------------------------------
Desktops
----------------------------------------------------------*/


