/*----------------------------------------------------------
Typography
----------------------------------------------------------*/

/*----------------------------------------------------------
Mobile
----------------------------------------------------------*/

h1 a, h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: #DBB23F;
  text-decoration: none;
  padding-left: 10px;
}

h1 a:hover {
    color: darkgreen;
}

h2 {
    position: absolute;
    left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #DBB23F;
    font-size: 20px;
    padding-left: 10px;
    margin-top: -5px;
}
h3 {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 1.2em
}

.quotes {
    font-size: .9em;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;  
}

.contactus-menu {
    position: absolute;
    right: 10px;
    text-align: right;
    justify-content: center;
    color: white;
    background-color: #2C8BB9;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 10px;
    margin: 15px;
    font-family: "Franklin Gothic Medium", sans-serif;
}
#form {
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 1em;
    padding: 0 .5em;
}
footer p {
    font-size: .5em;
    text-align: center;
    color: white;
}


/*----------------------------------------------------------
Tablet
----------------------------------------------------------*/
@media screen and (min-width: 400px) {
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 50px;
        color: #DBB23F;
        text-decoration: none;
        padding-left: 10px;
    }

    h1 a:hover {
        color: darkgreen;
    }

    h2 {
        left: 10px;
        font-family: 'Josefin Sans', sans-serif;
        color: #DBB23F;
        font-size: 40px;
        padding-left: 10px;
    }
    
    .contactus-menu {
        position: absolute;
        right: 10px;
        text-align: right;
        justify-content: center;
        color: white;
        background-color: #2C8BB9;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        padding: 10px 10px;
        margin: 15px;
        font-family: "Franklin Gothic Medium", sans-serif;
    }
    
    h3 {
        font-size: 1.7em
    }

.quotes {
    font-size: 1em;
    max-width: 65%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;  
}
    
    #form {
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 1.7em;
        padding: 0 .5em;
    }
   footer p {
       font-size: .75em;
       text-align: center;
       color: white;
    } 
}

/*----------------------------------------------------------
Desktop
----------------------------------------------------------*/
@media screen and (min-width: 800px) {
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 65px;
        color: #DBB23F;
        text-decoration: none;
        padding-left: 10px;
    }   

    h1 a:hover {
        color: darkgreen;
    }

    h2 {
        left: 10px;
        font-family: 'Josefin Sans', sans-serif;
        color: #DBB23F;
        font-size: 45px;
        padding-left: 10px;
    }
    
    .contactus-menu {
        position: absolute;
        right: 10px;
        text-align: right;
        justify-content: center;
        color: white;
        background-color: #2C8BB9;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
        padding: 25px;
        margin: 15px;
        font-family: "Franklin Gothic Medium", sans-serif;
    }
 }


    #form {
        font-family: "Franklin Gothic Medium", sans-serif;
        font-size: 1.8em;
        padding: 0 8px;
    }
   footer p {
       font-size: 1em;
       text-align: center;
       color: white;
}
    }
}


