/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Mobile
--------------------------------------------------------------*/

h1 {
  font-family: "Arial" sans-serif;
  font-size: 20px;
  text-align: left;
  color: #544C3C;
  text-decoration: none;
}
h1:hover {
    color: darkgreen;
}

/*--------------------------------------------------------------
Tablet
--------------------------------------------------------------*/
@media screen and (min-width: 400px) {
    
}

/*--------------------------------------------------------------
Desktop
--------------------------------------------------------------*/
@media screen and (min-width: 800px) {
   
    }
}


