/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Mobile
--------------------------------------------------------------*/








/*--------------------------------------------------------------
Tablets
--------------------------------------------------------------*/
@media (min-width: 400px) {
.subheader {
    background-color: #9FC3CB;
    background-image: url(../images/From_TEDX_screenshot.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 225px;
    margin-top: 50px;
    }
}


    
    
/*--------------------------------------------------------------
Desktops
--------------------------------------------------------------*/
@media (min-width: 800px) {
.subheader {
    background-color: #9FC3CB;
    background-image: url(../images/From_TEDX_screenshot.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 225px;
    margin-top: 50px;
    }
}

